[user]
	name = Shevaun Coker
	email = shevaun.coker@abletech.co.nz
[core]
	autocrlf = input
	safecrlf = true
	quotepath = false
	excludesfile = /Users/shevaun/.gitignore_global
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  ignore = !git update-index --assume-unchanged 
  unignore = !git update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[a-z]"
[apply]
	whitespace = nowarn
[github]
	user = shevaun
